<div class="jumbotron mt-4">
    <h1 class="display-4">Contacts App</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis consequatur mollitia similique tempora. Temporibus nemo provident earum, obcaecati, amet totam atque hic perferendis maiores voluptatum quis architecto quos quia tempora?</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium ratione enim earum asperiores autem a tenetur, veniam consectetur repellat, cupiditate voluptates pariatur distinctio voluptas. Assumenda amet magnam soluta voluptates voluptatibus.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>